#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --no-parallel

deb_upstream_version := $(shell echo $(DEB_VERSION) | cut -d- -f1)
deb_package = fdm

.PHONY: generate-orig-tarball
generate-orig-tarball:
	(set -x; pwd; f="$(deb_package)_$(deb_upstream_version).orig.tar.xz"; \
	 test -e "$$f" && exit 0; \
	 git archive --format=tar \
	              --prefix="$(deb_package)_$(deb_upstream_version)/" \
	              upstream \
	 | xz -9 > "../$$f";)
